.sign-up{
    text-align: center;
}
.sign-up h1{
    margin-top: 50px;
    margin-bottom: 80px;
    color: blueviolet;   
}
.common-form {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: auto;
  }
  .form-input {
    height: 35px;
    margin-bottom: 20px;
    border: 1px solid blueviolet;
    padding-left: 15px;
    color: blueviolet;
  }
  .form-button {
    height: 35px;
    border: 1px solid blueviolet;
    color: blueviolet;
    cursor: pointer;
  }

  .sign-up
    .sign-up, .login{
        text-align: center;
    }
    .sign-up h1
    .sign-up h1, .login h1{
        margin-top: 50px;
        margin-bottom: 80px;
        color: blueviolet;   
    }
    .auth-toggle-link{
        color: blueviolet;
        font-size: 14px;
        margin-top: 20px;
        text-align: left;
      cursor: pointer;
    }

    .error-p{
      color: red;
    }